@model MediStockWeb.Areas.Admin.Models.MedicineModel

<option value="">Selecte</option>
@if(ViewBag.MList!=null)
{
    foreach(var item in ViewBag.MList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}