@model MediStockWeb.Areas.Admin.Models.MedicineModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<form asp-controller="Medicine" asp-action="Create" method="post" id="product-form" enctype="multipart/form-data">

    <div class="content-header clearfix">

        @await Html.PartialAsync("_CreateOrUpdate.cshtml", Model);

        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-success" id="btn">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>

            <button type="submit" name="save-continue" class="btn btn-success" id="btnsc">
                <i class="fa fa-floppy-o"></i>
                Save Continue
            </button>
        </div>
    </div>
    @section scripts {
        <script type="text/javascript">
            // Add the following code if you want the name of the file appear on select
            $(document).ready(function () {
                $(".form-control form-control-file").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next(".btn btn-primary btn-round btn-lg").html(fileName);
                });
            });


            var btnsave = document.getElementById("btn");
            btnsave.addEventListener("click", function () {
                var Name = document.getElementById("Name").value;
                //var SKU = document.getElementById("SKU").value;
                //var ProductGUID = document.getElementById("ProductGUID").value;
                //var Price = document.getElementById("Prise").value;
                //var Manufacturer = document.getElementById("Manufacturer").value;
                //var ManufacturingDate = document.getElementById("ManufacturingDate").value;
                //var Description = document.getElementById("Description").value;
                //var IsActive = document.getElementById("IsActive").value;
                //var Isdeleted = document.getelementbyid("IsDeleted").value;
                //var Stock = document.getelementbyid("Stock").value;
                //var PictureStr = document.getelementbyid("PictureStr").value;
                //var CategoryName = document.getelementbyid("CategoryName").value;
                if (Name == "") {
                    swal({
                        title: "Fields Empty !!",
                        text: "Please check the missing Field!!",
                        icon: "warning",
                        button: "ok",
                    });
                }
                else {
                    swal({
                        title: "Successfully submitted",
                        icon: "success",
                        button: "yess!!",
                    });
                }
            })

            var btn1 = document.getElementById("btnsc");
            btnsave.addEventListener("click", function () {
                var Name = document.getElementById("Name").value;
                //var sku = document.getelementbyid("sku").value;
                //var productguid = document.getelementbyid("productguid").value;
                //var price = document.getelementbyid("price").value;
                //var manufacturer = document.getelementbyid("manufacturer").value;
                //var manufacturingdate = document.getelementbyid("manufacturingdate").value;
                //var description = document.getelementbyid("description").value;
                //var isactive = document.getelementbyid("isactive").value;
                //var isdeleted = document.getelementbyid("isdeleted").value;
                //var stock = document.getelementbyid("stock").value;
                //var picturestr = document.getelementbyid("picturestr").value;
                //var categoryname = document.getelementbyid("categoryname").value;

                if (Name == "") {
                    swal({
                        title: "Fields Empty !!",
                        text: "Please check the missing Field!!",
                        icon: "warning",
                        button: "ok",
                    });
                }
                else {
                    swal({
                        title: "Successfully submitted",
                        icon: "success",
                        button: "yess!!",
                    });
                }
            })

        </script>
    }

</form>

